{% load static %}
<div class='row row-eq-height artigo-lista'>
								<div class="col-xs-12 col-md-5" style='background-image:url("{{artigo.image.url}}"); background-size: cover; background-repeat:no-repeat; min-height:200px;'>
									<div>
										<a class="images" href="{{ artigo.get_absolute_url }}" title="{{ artigo.title }}">
									</div>
									<a class="images" href="{{ artigo.get_absolute_url }}" title="{{ artigo.title }}" >
								</div>
								
								
								<div class="col-xs-12 col-md-7">
									<div class="card-body">
										<h2><a href="{{ artigo.get_absolute_url }}" title="title" >{{ artigo.title }}</a></h2>
										<div style="margin: 10px">
											<div class="avatar" href="#" style="
											width:50px;
											height:50px;
											border-radius:35px;
											float:left;
											  background-image:url('{{ artigo.author.image.url }}');
											background-position: center; /* Center the image */
											background-repeat: no-repeat; /* Do not repeat the image */
											background-size: cover; /* Resize the background image to cover the entire container */
											">
											</div>
											Por <a class="name" href="#" > <b>{{ artigo.author.get_full_name }}</b></a>
										</div>
										<!-- post-info -->
										<div class="tag">
											<div class="container-fluid">
												<div class="row">
													<p class="tag-item">
														<i class="fab fa-readme"></i>{{ artigo.read_time }} min{{ artigo.read_time|pluralize }} 
														<span> / </span>
														<i class="far fa-eye"></i>{{ artigo.views }} vezes
														<span>/</span>
														<i class="far fa-clock"></i>Há {{artigo.date_published|timesince }} 
														<span>  /</span>
														<a class="tag-link" href="#" title="comments"><i class="fa fa-comments"></i>{{ artigo.comments.count }} comentários </a>
													</p>
												</div>
											</div>
										</div>
										<div class="d-flex justify-content-between align-items-center">
											<div class="btn-group">
												<a href="{{ artigo.get_absolute_url }}" title="readMore" class="btn btn-sm btn-outline-secondary read-more" style="width: 100%">Leia este artigo</a>
											</div>
										</div>
									</div>
								</div>

							</div>