{% extends 'base.html' %}
    {{ form.media.css }}

{% load crispy_forms_tags %}



{% block body %}
{% load static %}




<main>
	<div id="hero_register">
		<div class="container margin_120_95">			
			<div class="row">
				<div class="col-lg-6">
					<h1>Esteja em evidência para quem quer comprar de você!</h1>
					<p class="lead">No Pequeno Sem Crise você conta com todo o apoio que seu negócio precisa para estar a um clique de distância do seu público potêncial.
						Cadastre seu negócio hoje mesmo e participe deste movimento.</p>
					<div class="box_feat_2">
						<i class="pe-7s-map-2"></i>
						<h3>Encontre Clientes próximos ao seu negócio</h3>
						<p>Com os recursos de Geolocalização, você aparece para os clientes que estão proximos de você, facilitando a logística do seu negócio e fortalecendo sua marca em seus arredores.</p>
					</div>
					<div class="box_feat_2">
						<i class="pe-7s-id"></i>
						<h3>Mostre as informações pertinentes do seu negócio</h3>
						<p>Todas as informações que o seu cliente precisa, de forma intuitiva para aumentar as conversões e vendas do seu negócio.</p>
					</div>
					<div class="box_feat_2">
						<i class="pe-7s-phone"></i>
						<h3>Totalmente Acessível em Celulares e Tablets</h3>
						<p>O Site é pensado para ser acessado em dispositivos móveis, com curtos períodos de carregamento e totalmente otimizado para navegação digital.</p>
					</div>
				</div>
				<!-- /col -->
				<div class="col-lg-5 ml-auto">
					<div class="box_form">
						<div id="message-register"></div>
						{% if user.is_authenticated %}
						<form method="post" enctype="multipart/form-data" id="registroNegocio" >
							{% csrf_token %}
							{{ form|crispy }}

							<div><input type="submit" class="btn_1" value="Cadastrar negócio" id="submit-register"></div>
						</form>
						{% else %}
						<p class="text-center link_bright"> Olá, obrigado pelo interesse em registrar seu negócio no Pequeno Sem Crise, no entando, por motivos de segurança nós autorizamos apenas usuários registrados à cadastrar novos negócios <strong><a href="/contas/registro">Crie a sua conta agora</a></strong> ou <strong><a href="/contas/entrar">Entre em sua conta existente</a></strong>. </p>
						{% endif %}
					</div>
					<!-- /box_form -->
				</div>
				<!-- /col -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /hero_register -->
</main>
<!-- /main -->



    {{ form.media.js }}

{% endblock body %}