{% extends 'base.html' %}

{% block title %}
	Produtos e serviços à um clique de distância - Compre dos negócios locais com segurança | Pequeno Sem Crise
{% endblock %}

{% block body %}
{% load static %}


<main>
	<div id="results">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h4>Sua busca retornou <strong>
						{% if listaDeAnuncios|length == 1 %}
						{{ listaDeAnuncios|length }} negócio</strong></h4>
						{% else %}
						{{ listaDeAnuncios|length }} negócios</strong></h4>
						{% endif %}
				</div>
				<div class="col-md-6">
					<div class="search_bar_list">
						<form method="GET" action="{% url 'anuncios:listaDeAnuncios'  %}"></form>
						<input class="form-control" type="text" value="Nome do produto..." name="busca" onfocus="this.value = '';"
						onblur="if (this.value == '') {this.value = 'Nome do produto...';}" required="">
						<input type="submit" value="Buscar">
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /results -->


	
	<div class="container margin_60_35">
		<div class="row">
			<div class="row">
				
			{% for categoria in listaDeCategorias %}
			<div class="col-lg-3 col-md-3">

				<a href="{% url 'anuncios:listaDeAnunciosPorCategoria' categoria.slug %}" class="box_cat_home">

								<div class="icone-categoria row">
			{% if categoria.imagem %}
        {{ categoria.imagem.as_html }}
    		{% endif %}</div>
					<h3>{{categoria}}</h3>
					<ul class="clearfix">
						<li><strong>{{categoria.todasAsCategorias}}</strong>Negócios</li>
					</ul>
				</a>
			</div>
			{% endfor %}

				<!-- /strip_list -->

				
				<nav aria-label="" class="add_top_20">
					<ul class="pagination pagination-sm">
						{% if listaDeAnuncios.has_previous %}
						<li class="page-item active">
							<a class="page-link" href="?page=1" >Primeira</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="?page={{ listaDeAnuncios.previous_page_number }}" tabindex="-1">Anterior</a>
						</li>
						{% endif %}
						{% for pages in listaDeAnuncios.paginator.page_range %}
						{% if listaDeAnuncios.number == pages %}
						<li class="page-item active"><a href="" class="page-link">{{pages}}</a></li>
						{% else %}
						<li class="page-item"><a href="?page={{ pages }}" class="page-link">{{pages}}</a></li>
						{% endif %}

								{% endfor %}

								{% if listaDeAnuncios.has_next %}
						<li class="page-item">
							<a class="page-link" href="?page={{ listaDeAnuncios.next_page_number }}">Próximo</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="?page={{ listaDeAnuncios.paginator.num_pages }}">Último</a>
						</li>
						{% endif %}
					</ul>
				</nav>
				<!-- /pagination -->
			</div>
			<!-- /col -->

		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</main>



{% endblock body %}