{% extends 'base.html' %}

{% block body %}
{% load static %}




<main>
	<div class="bg_color_2">
		<div class="container margin_60_35">
			<div id="login-2">
				<h6 class="text-center link_bright"> Você saiu da sua conta. Se preferir pode <strong><a href="/contas/entrar">Entrar novamente na sua conta</a></strong> ou <strong><a href="/contas/registro">Crie uma nova conta agora</a></strong>. </h6>
			</div>
			<!-- /login -->
		</div>
	</div>
</main>
<!-- /main -->


{% endblock body %}