{% extends 'home.html' %}

{% block body %}
{% load static %}



<main>
	<div id="breadcrumb">
		<div class="container">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="#">Paginas</a></li>
				<li>Termos e Condições de Uso</li>
			</ul>
		</div>
	</div>
	<!-- /breadcrumb -->
	
	<div class="container margin_60">
		<div class="row">
			<div class="col-lg-9">
				<div class="bloglist singlepost">
					<!--p><img alt="" class="img-fluid" src="http://via.placeholder.com/800x400.jpg"></p-->
					<h1>Termos e Condições de Uso</h1>

					<div class="post-content">
						<div class="dropcaps">
							<p>(Estes termos foram atualizados pela última vez em <strong>31 de Maio de 2020</strong>. Visite sempre essa página para manter-se 
								informado sobre possiveis modificações nos termos vigentes.)</p>
							<p>Olá Utilizador, que bom que você chegou até esta postagem. O Movimento Pequeno Sem Crise é uma ferramenta que preza
								pelo bem estar de seus utilizadoresm e por isso contém Termos e Condições Gerais de Utilização, que são nada mais 
								nada menos que informações importantes para todos os usuários, sejam eles compradores, vendedores, prestadores 
								de serviços, anunciantes e outros que por ventura façam uso de nosso sistema. É importante ressaltar que usar 
								nossa ferramenta implica na compreensão, aceitação e vinculação automática dos termos apresentados nesta página.  
								Se Você não concorda com quaisquer condições previstas nesta página, pode deixar de utilizar o Site.</p>
								<p>É importante lembrar você que além destes termos, você também está sujeito às Regras de uso da ferramenta.</p>
							<div class="tableofcontents col-lg-5">
								<h2>O que você vai encontrar aqui?</h2>
								<ol>
								<li><h3><a href="#anchor-1">Why a Table of Contents?</a></h3></li>
								<li><h3><a href="#anchor-2">ToC Plugin or Nah?</a></h3></li>
								<li><h3><a href="#anchor-3">DIY a ToC</a></h3></li>
								<li><h3><a href="#anchor-4">Customize your ToC</a></h3></li>
								</ol>
							</div>
							<h2>Quem é o Movimento Pequeno Sem Crise?</h2>
							<p>A Ferramenta, localizada no site <a href="https://pequenosemcrise.com.br" target="_blank">pequenosemcrise.com.br</a>, 
								é uma extensão de atuação do Instituto Condomínios & Vizinhança, Inscrita no CNPJ 27.469.453/0001-18</p>
							<h2>Como Funciona o Site</h2>
							<p>A Ferramenta oferece de forma intuitiva, um espaço virtual criado especialmente para aproximar o público
								geral dos Micro e Pequenos negócios que oferecem produtos e/ou serviços que oferece. Na ferramenta o negócio
								pode divulgar, de forma gratuita ou paga, de acordo com a modalidade escolhida, seus meios de contato, localização
								e outras informações.</p>							 
							<p>A ferramenta é dividida em duas segmentações: Por Categoria de Negócio e por Geolocalização.</p>
							<p>A partipação do Movimento Pequeno Sem Crise se limita à intermediar e auxiliar seus utilizadores, não sendo responsável
								por quaisquer produtos, serviços ou negócios apresentados dentro da ferramenta, não intervindo de nenhuma forma
								nos preços e/ou ofertas apresentados.   </p>
							<p>A Ferramenta também não é responsável por intermediar transações ou mediar pagamentos, sendo estas funções definidas 
								de comum acordo entre negócios e compradores; Nossa participação enquanto ferramenta se limita apenas à fornecer um espaço
							plural e de facil operação para ambos os lados.</p>
							<h2>Vedações de Uso</h2>
							<p>Você não deve, sobre nenhuma circunstância, inserir, transmitir, difundir ou disponibilizar a terceiros materiais que transgridam
								nossas Regras de uso, a lesgislação vigente, à moral, à ordem pública ou que ofereça risco direto à vida ou a saúde dos utilizadores.</p>
							<p>Caso um utilizador veicule conteúdos vedados nesta sessão, sofrerá sanções que podem ir desde a exclusão do conteúdo em questão até a exclusão da conta 
								e/ou banimento do individuo.</p>
						</div>

					</div>
					<!-- /post -->
				</div>
				<!-- /single-post -->


				<hr>


			</div>
			<!-- /col -->
			
			<aside class="col-lg-3">

				
				<div class="widget">
					<!--div class="widget-title">
						<h4>Recent Posts</h4>
					</div>
					<ul class="comments-list">
						<li>
							<div class="alignleft">
								<a href="#0"><img src="http://via.placeholder.com/160x160.jpg" alt=""></a>
							</div>
							<small>11.08.2016</small>
							<h3><a href="#" title="">Verear qualisque ex minimum...</a></h3>
						</li>
						<li>
							<div class="alignleft">
								<a href="#0"><img src="http://via.placeholder.com/160x160.jpg" alt=""></a>
							</div>
							<small>11.08.2016</small>
							<h3><a href="#" title="">Verear qualisque ex minimum...</a></h3>
						</li>
						<li>
							<div class="alignleft">
								<a href="#0"><img src="http://via.placeholder.com/160x160.jpg" alt=""></a>
							</div>
							<small>11.08.2016</small>
							<h3><a href="#" title="">Verear qualisque ex minimum...</a></h3>
						</li>
					</ul>
				</div-->
				<!-- /widget -->

				
			</aside>
			<!-- /aside -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</main>
<!-- /main -->


{% endblock body %}